.form {
  margin: 0 auto;
  height: 80vh;
  background-color: #dce5e2;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.6rem;
  border-radius: 3.2rem;

  .task-cnt {
    width: 40%;
    font-size: 1.8rem;
  }

  .task-item {
    display: flex;
    flex-direction: column;
  }

  .task-btn {
    margin-top: 1rem;
    text-align: center;

    button {
      cursor: pointer;
      padding: 1rem 2rem;
      background: none;
    }
  }
}