.form {
  margin: 0 auto;
  height: 80vh;
  background-color: #dce5e2;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.6rem;
  border-radius: 3.2rem;

  .form-fields {
    max-width: 50%;

    .password-cnt {
      position: relative;

      input {
        padding-right: 3rem;
        width: 100%;
      }
    }

    .show-hide {
      position: absolute;
      right: 0;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }

    label {
      padding: 1rem 0 0.5rem 0;
    }

    .create-btn {
      width: 100%;
      margin-top: 2rem;
      background-color: #dee2e6;
      border: 1px solid black;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      &:hover {
        background-color: #40c057;
      }
    }

    div {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }
  }
}
