.form {
  margin: 0 auto;
  height: 80vh;
  background-color: #dce5e2;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.6rem;
  border-radius: 3.2rem;

  .form-fields {
    max-width: 50%;

    .create-btn {
      width: 100%;
      margin-top: 2rem;
    }

    div {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }
  }
}
